@import "tailwindcss";

@theme {
    --color-primary: #1E3A8A;
    --color-secondary: #F3F4F6;
    --font-default: "Alexandria", sans-serif;
}

.card {
    @apply flex flex-col justify-center items-center shadow-lg;
}

.nav-link {
    @apply opacity-70 hover:opacity-100 transition-all;
}

.nav-link.active {
    @apply opacity-100;
}

p {
    @apply leading-[180%]
}